---
---
<html lang='en'>

{% include head.html %}

<body style="font-size: 14px; margin-bottom: 5px; line-height: 1.3;">
{% include navbar.html %}
<div class="container">
    <div class="row">
        <!--div class="col-lg-3 col-md-3 col-sm-3">
             include information.html
        </div-->
        <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body" style="line-height: 1.5;">
                    <p style="font-size: 14px;">
                        I am a second year Ph.D. student in Stanford University.
                        I think about problems in machine learning and deep learning under the supervision of <a href="http://cs.stanford.edu/~ermon">Stefano Ermon</a>.
                        I did my undergrad at Tsinghua University, where I was lucky enough to collaborate with
                        <a href="http://bigml.cs.tsinghua.edu.cn/~jun">Jun Zhu</a> and <a href="http://people.ee.duke.edu/~lcarin/">Lawrence Carin</a>
                        on scalable Bayesian machine learning.
                        <!--My interests lies in machine learning and deep learning; deep generative models and deep reinforcement learning in particular.
                        I worked on scalable bayesian machine learning and deep generative models during my undergrad.-->
                    </p>
                    <hr/>
                    <p>
                        Contact: <b style="font-family: 'Droid Sans Mono'; font-size: 13px;">tsong at cs.stanford.edu</b>
                    </p>
                    <!--p>
                        <b>LinkedIn: </b> <a href="https://cn.linkedin.com/in/jiamings" target="_blank">Jiaming Song</a>
                    </p>
                    <p>
                        <a href="https://cn.linkedin.com/in/jiamings" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/linkedin.min.svg" height="24px" width="24px"></a>
                        <a href="https://github.com/jiamings" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/github.min.svg" height="24px" width="24px"></a>
                        <a href="https://twitter.com/baaadas" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/twitter.min.svg" height="24px" width="24px"></a>
                    </p-->
                </div>
            </div>
            {% include publications.html %}
        </div>
    </div>
</div>

{% include footer.html %}

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>
{% include analytics.html %}
</body>
</html>