<div class="panel panel-default">
    <div class="panel-heading" id="education">
        <h4>Education</h4>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h5>Computer Science Department, <b>Stanford University</b>, <i>Palo Alto, CA</i></h5>
        <h6>Ph.D. (First year) </h6>
        <hr/>
        <h5>Department of Computer Science and Technology, <b>Tsinghua Unviersity</b>, <i>Beijing, China</i></h5>
        <h6>B.Eng. in Computer Science and Technology (August 2012 - July 2016)</h6>
        <hr/>
        <h5>Department of Electrical Engineering and Computer Science, <b>National Tsing Hua University</b>, <i>Hsinchu, Taiwan</i></h5>
        <h6>Exchange Student (July 2014)</h6>
    </div>
</div>