<div class="panel panel-default">
    <div class="panel-heading" id="education">
        <h3>Education</h3>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h4>Computer Science Department, <b>Stanford University</b>, <i>Palo Alto, CA</i></h4>
        <p>Ph.D. (First year) </p>
        <hr/>
        <h4>Department of Computer Science and Technology, <b>Tsinghua Unviersity</b>, <i>Beijing, China</i></h4>
        <p>B.Eng. in Computer Science and Technology (August 2012 - July 2016)</p>
        <!--<hr/>
        <h4>Department of Electrical Engineering and Computer Science, <b>National Tsing Hua University</b>, <i>Hsinchu, Taiwan</i></h4>
        <p>Exchange Student (July 2014)</p>-->
    </div>
</div>