<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link href="{{ site.baseurl }}/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/public/css/github.css" rel="stylesheet">
    <style>
        hr {
            height: 1px;
        }
        footer {
            font-family: "Open Sans", "Arial", sans-serif;
            margin-top: 50px;
        }
    </style>
</head>