<!--div class="panel panel-default">
    <img src="{{ site.baseurl }}/public/img/avatar.png" class="img-responsive" style="width: 100%;" alt="Jiaming Song">
    <div class="panel-body">

        <h3>Jiaming Song (Tony)</h3>
        <p>
            Computer Science Department
        </p>
        <p>
            Stanford University
        </p>
    </div>
</div-->
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <b>Email: </b><a href="mailto:tsong@cs.stanford.edu" target="_top">tsong@cs.stanford.edu</a>
        </p>
        <p>
            <b>Curriculum Viate:</b> <a href="https://github.com/jiamings/cv/blob/master/jiaming_cv.pdf" target="_blank">Jiaming Song</a>
        </p>
        <!--p>
            <b>LinkedIn: </b> <a href="https://cn.linkedin.com/in/jiamings" target="_blank">Jiaming Song</a>
        </p>
        <p>
            <a href="https://cn.linkedin.com/in/jiamings" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/linkedin.min.svg" height="24px" width="24px"></a>
            <a href="https://github.com/jiamings" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/github.min.svg" height="24px" width="24px"></a>
            <a href="https://twitter.com/baaadas" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/twitter.min.svg" height="24px" width="24px"></a>
        </p-->
    </div>
</div>
