<nav class="navbar navbar-default navbar-fixed-top" style="min-height: 60px; display: block; font-size: 18px;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-data" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/" style="padding-left: 30px">Jiaming Song</a>
        </div>


        <div id="navbar-data" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ site.baseurl }}/" style="padding-left: 30px">Home</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/projects" style="padding-left: 30px">Projects</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/reading" style="padding-left: 30px">Reading</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
