<div class="panel panel-default">
    <div class="panel-heading" id="publications">
        <h3>Publications</h3>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h4>
            <a href="https://arxiv.org/abs/1605.06715" target="_blank">
                <b>Factored Sigmoid Belief Networks for Sequence Learning</b>
            </a>
        </h4>
        <p><b>Jiaming Song</b>, Zhe Gan, Lawrence Carin</p>
        <p>In the 33rd International Conference on Machine Learning (ICML 2016).</p>
        <hr/>
        <h4>
            <a href="{{ site.baseurl }}/static/papers/icm2015_umap.pdf" target="_blank">
                <b>Organizational Churn: A Roll of the Dice?</b>
            </a>
        </h4>
        <p>Canyao Liu*, <b>Jiaming Song</b>*, Chuan Yu*.</p>
        <p5>Undergraduate Mathematics and its Applications (UMAP), Issue 36.2.</p5>
        <hr/>
        <h4>
            <a href="http://arxiv.org/abs/1602.07428" target="_blank">
                <b>Max-Margin Nonparametric Latent Feature Relational Models for Link Prediction</b>
            </a>
        </h4>
        <p>Jun Zhu, <b>Jiaming Song</b>, Bei Chen</p>
        <hr/>
        <h4>
            <a href="https://arxiv.org/abs/1512.02016" target="_blank">
                <b>Discriminative Nonparametric Latent Feature Relational Models with Data Augmentation</b>
            </a>
        </h4>
        <p>Bei Chen, Ning Chen, Jun Zhu, <b>Jiaming Song</b>, Bo Zhang</p>
        <p>In the 30th Association for the Advancement of Artificial Intelligence Conference (AAAI 2016).</p>
    </div>
</div>