<div class="panel panel-default">
    <div class="panel-heading" id="publications">
        <h4>Publications</h4>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h5>
            <a href="https://arxiv.org/abs/1605.06715" target="_blank">
                <b>Factored Sigmoid Belief Networks for Sequence Learning</b>
            </a>
        </h5>
        <h6><b>Jiaming Song</b>, Zhe Gan, Lawrence Carin</h6>
        <h6>In the 33rd International Conference on Machine Learning (ICML 2016).</h6>
        <hr/>
        <h5>
            <a href="{{ site.baseurl }}/static/papers/icm2015_umap.pdf" target="_blank">
                <b>Organizational Churn: A Roll of the Dice?</b>
            </a>
        </h5>
        <h6>Canyao Liu*, <b>Jiaming Song</b>*, Chuan Yu*.</h6>
        <h6>Undergraduate Mathematics and its Applications (UMAP), Issue 36.2.</h6>
        <hr/>
        <h5>
            <a href="http://arxiv.org/abs/1602.07428" target="_blank">
                <b>Max-Margin Nonparametric Latent Feature Relational Models for Link Prediction</b>
            </a>
        </h5>
        <h6>Jun Zhu <b>Jiaming Song</b>, Bei Chen</h6>
        <hr/>
        <h5>
            <a href="https://arxiv.org/abs/1512.02016" target="_blank">
                <b>Discriminative Nonparametric Latent Feature Relational Models with Data Augmentation</b>
            </a>
        </h5>
        <h6>Bei Chen, Ning Chen, Jun Zhu, <b>Jiaming Song</b>, Bo Zhang</h6>
        <h6>In the 30th Association for the Advancement of Artificial Intelligence Conference (AAAI 2016).</h6>
    </div>
</div>