<div class="panel panel-default" style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
    <div class="panel-heading" id="publications">
        <h4 style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">Publications and Manuscripts</h4>
    </div>
    <div class="panel-body" style="padding-top: 5px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="https://arxiv.org/abs/1706.07561" target="_blank">
                <b>A-NICE-MC: Adversarial Training for MCMC</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            <b>Jiaming Song</b>, Shengjia Zhao, Stefano Ermon <br/>
            <i>
                To appear in the 30th Neural Information Processing Systems (NIPS 2017). 
            </i>
            <a href="https://github.com/jiamings/a-nice-mc" target="_blank">
                [code]
            </a>
            <br/>
            <i>
                Abridged version in <a href="https://sites.google.com/view/implicitmodels">
                ICML 2017 Workshop on Implicit Models</a>
            </i>
            <a href="https://drive.google.com/open?id=1vzEp7sGpSqlNwAzO2pd-aFXkSmDef88BdKBirNU3_Zs" target="_blank">
                [one pager]
            </a>
        </p>
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="https://arxiv.org/abs/1703.08840" target="_blank">
                <b>InfoGAIL: Interpretable Imitation Learning from Visual Demonstrations</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Yunzhu Li, <b>Jiaming Song</b>, Stefano Ermon <br/>
            <i>To appear in the 30th Neural Information Processing Systems conference (NIPS 2017).</i>
            <a href="https://github.com/yunzhuli/infogail" target="_blank">
                [code]
            </a>
        </p>
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="https://arxiv.org/abs/1702.08396" target="_blank">
                <b>Learning Hierarchical Features from Generative Models</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Shengjia Zhao, <b>Jiaming Song</b>, Stefano Ermon <br/>
            <i>In the 34th International Conference on Machine Learning (ICML 2017).</i>
            <a href="https://github.com/ermongroup/Variational-Ladder-Autoencoder" target="_blank">
                [code]
            </a>
            <a href="{{ site.baseurl }}/blog/hierarchy" target="_blank">
                [blog]
            </a>
        </p>
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="https://openreview.net/pdf?id=S1L-hCNtl" target="_blank">
                <b>Generative Adversarial Learning of Markov Chains</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            <b>Jiaming Song</b>, Shengjia Zhao, Stefano Ermon <br/>
            <i>In the 5th International Conference on Learning Representations (ICLR 2017) Workshop Track.</i>
            <a href="https://github.com/jiamings/markov-chain-gan" target="_blank">
                [code]
            </a>
            <a href="{{ site.baseurl }}/static/docs/mgan-poster.pdf" target="_blank">
                [poster]
            </a>
        </p>
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="https://arxiv.org/abs/1706.02262" target="_blank">
                <b>InfoVAE: Information Maximizing Variational Autoencoders</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Shengjia Zhao, <b>Jiaming Song</b>, Stefano Ermon <br/>
            <i>arXiv preprint arXiv:1706.02262. </i>
            <a href="https://github.com/ShengjiaZhao/MMD-Variational-Autoencoder" target="_blank">
                [code]
            </a>
        </p>
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="https://arxiv.org/abs/1702.08658" target="_blank">
                <b>Towards Deeper Understanding of Variational Autoencoding Models</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Shengjia Zhao, <b>Jiaming Song</b>, Stefano Ermon <br/>
            <i>arXiv preprint arXiv:1702.08658. </i>
            <a href="https://github.com/ermongroup/Sequential-Variational-Autoencoder" target="_blank">
                [code]
            </a>
            <a href="{{ site.baseurl }}/blog/new-variational-autoencoder" target="_blank">
                [blog]
            </a>
        </p>
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="https://arxiv.org/abs/1703.02156" target="_blank">
                <b>On the Limits of Learning Representations with Label-Based Supervision</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            <b>Jiaming Song</b>, Russell Stewart, Shengjia Zhao, Stefano Ermon
        </p>
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="https://arxiv.org/abs/1605.06715" target="_blank">
                <b>Factored Sigmoid Belief Networks for Sequence Learning</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            <b>Jiaming Song</b>, Zhe Gan, Lawrence Carin
        <br/>
            <i>In the 33rd International Conference on Machine Learning (ICML 2016).</i></p>
        <hr style="margin-top: 10px; margin-bottom: 10px;"/>
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="{{ site.baseurl }}/static/papers/icm2015_umap.pdf" target="_blank">
                <b>Organizational Churn: A Roll of the Dice?</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Canyao Liu*, <b>Jiaming Song</b>*, Chuan Yu*.
        <br/>
            <i>Undergraduate Mathematics and its Applications (UMAP), Issue 36.2.</i>
        </p>
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="http://arxiv.org/abs/1602.07428" target="_blank">
                <b>Max-Margin Nonparametric Latent Feature Relational Models for Link Prediction</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Jun Zhu, <b>Jiaming Song</b>, Bei Chen
            <br/>
            <i>arXiv preprint arXiv:1602.07428</i><br/>
            <i>Under review of Artificial Intelligence Journal</i>
        </p>
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="https://arxiv.org/abs/1512.02016" target="_blank">
                <b>Discriminative Nonparametric Latent Feature Relational Models with Data Augmentation</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Bei Chen, Ning Chen, Jun Zhu, <b>Jiaming Song</b>, Bo Zhang
        <br/>
            <i>In the 30th Association for the Advancement of Artificial Intelligence Conference (AAAI 2016).</i></p>
    </div>
</div>