
@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 300;
  src: local('TT Norms Pro Thin'), url(/assets/fonts/tt-norms-pro-thin.otf) format('opentype');
}
@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 400;
  src: local('TT Norms Pro Regular'), url(/assets/fonts/tt-norms-pro-regular.otf) format('opentype');
}
@font-face {
  font-family: 'TT Norms Pro';
  font-style: italic;
  font-weight: 400;
  src: local('TT Norms Pro Italic'), url(/assets/fonts/tt-norms-pro-italic.otf) format('opentype');
}
@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 600;
  src: local('TT Norms Pro Medium'), url(/assets/fonts/tt-norms-pro-medium.otf) format('opentype');
}
