@font-face { font-family: 'TT Norms Pro'; font-style: normal; font-weight: 300; src: local("TT Norms Pro Thin"), url(/assets/fonts/tt-norms-pro-thin.otf) format("opentype"); }
@font-face { font-family: 'TT Norms Pro'; font-style: normal; font-weight: 400; src: local("TT Norms Pro Regular"), url(/assets/fonts/tt-norms-pro-regular.otf) format("opentype"); }
@font-face { font-family: 'TT Norms Pro'; font-style: italic; font-weight: 400; src: local("TT Norms Pro Italic"), url(/assets/fonts/tt-norms-pro-italic.otf) format("opentype"); }
@font-face { font-family: 'TT Norms Pro'; font-style: normal; font-weight: 600; src: local("TT Norms Pro Medium"), url(/assets/fonts/tt-norms-pro-medium.otf) format("opentype"); }
/******************************************************************************* Variables used throughout the theme. To adjust anything, simply edit the variables below and rebuild the theme. *****************************************************************************/
/* Set theme colors *************************/
/****************************************************************************** Content *****************************************************************************/
body { font-family: 'Nunito', 'TT Norms Pro', 'Lato'; padding-bottom: 70px; color: #111; }

body { font-weight: 400; }

body.fixed-top-nav { padding-top: 56px; }

body.sticky-bottom-footer { padding-bottom: 0; }

.container { max-width: 800px; }

.profile img { width: 100%; }

/****************************************************************************** Publications *****************************************************************************/
/*****************************************************************************
* Projects
*****************************************************************************/
/******************************************************************************* Styles for the base elements of the theme. *****************************************************************************/
a, table.table a { color: #00369f; }
a:hover, table.table a:hover { color: #00369f; text-decoration: underline; }
a:hover:after, table.table a:hover:after { width: 100%; }

.container h1, .container h2, .container h3, .container h4, .container h5 { font-weight: 600; }

.equation { margin-bottom: 1rem; text-align: center; }

.caption { font-size: 0.875rem; margin-top: 0.75rem; margin-bottom: 1.5rem; text-align: center; }

.profile .address { font-family: monospace; font-size: 1.2rem; }
.profile .address p { margin: 0; }

.navbar { box-shadow: none; border-bottom: 1px solid #e8e8e8; opacity: 0.95; }

.navbar.navbar-light a:hover { text-decoration: none; }
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover { color: #00369f; }
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link { background-color: inherit; color: #00369f; font-weight: bolder; }
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link:hover { color: #00369f; }
.navbar.navbar-light .contact-icon { margin-top: 0.1em; font-size: 1.5rem; }
.navbar.navbar-light .contact-icon a { color: #424242; margin-left: 0.3em; }
.navbar.navbar-light .contact-icon a:hover { color: #00369f; }

.navbar-toggler .icon-bar { display: block; width: 22px; height: 2px; background-color: #424242; border-radius: 1px; margin-bottom: 4px; transition: all 0.2s; }
.navbar-toggler .top-bar { transform: rotate(45deg); transform-origin: 10% 10%; }
.navbar-toggler .middle-bar { opacity: 0; }
.navbar-toggler .bottom-bar { transform: rotate(-45deg); transform-origin: 10% 90%; }

.navbar-toggler.collapsed .top-bar { transform: rotate(0); }
.navbar-toggler.collapsed .middle-bar { opacity: 1; }
.navbar-toggler.collapsed .bottom-bar { transform: rotate(0); }

.news table td { font-size: 1rem; }

.social { text-align: center; }
.social .contact-icon { font-size: 1.5rem; }
.social .contact-icon a { color: #424242; }
.social .contact-icon a:hover { color: #00369f; }
.social .contact-note { font-size: 0.8rem; }

footer.fixed-bottom { color: #c2c2c2; background-color: #424242; font-size: 0.75rem; }
footer.fixed-bottom .container { padding-top: 9px; padding-bottom: 8px; }
footer.fixed-bottom a { color: white; }
footer.fixed-bottom a:hover { color: #206bff; text-decoration: none; }

footer.sticky-bottom { border-top: 1px solid #e8e8e8; padding-top: 40px; padding-bottom: 40px; font-size: 0.9rem; }

.header-bar { border-bottom: 1px solid #e8e8e8; text-align: center; padding-top: 2rem; padding-bottom: 5rem; }
.header-bar h1 { color: #00369f; font-size: 5rem; }

.post-list { margin: 0; margin-bottom: 40px; padding: 0; }
.post-list li { border-bottom: 1px solid #e8e8e8; list-style: none; padding-top: 2rem; padding-bottom: 2rem; }
.post-list li .post-meta { color: #828282; font-size: 0.875rem; margin-bottom: 0; }
.post-list li a { color: black; text-decoration: none; }
.post-list li a:hover { color: #00369f; }

.pagination .page-item.active .page-link { background-color: #00369f; }
.pagination .page-item.active .page-link:hover { background-color: #00369f; }

.distill a:hover { border-bottom-color: #00369f; text-decoration: none; }

.projects .grid-item { width: 250px; margin-bottom: 10px; }
.projects .grid-item a { color: black; text-decoration: none; }
.projects .grid-item a:hover { color: #00369f; }
.projects .card img { width: 100%; }

.publications { margin-top: 2rem; }
.publications h2.year { color: #828282; border-top: 1px solid #828282; padding-top: 2rem; margin-top: 4rem; margin-bottom: -2rem; text-align: right; }
.publications ol.bibliography { list-style: none; padding: 0; margin-top: 0; }
.publications ol.bibliography li { margin-bottom: 1rem; }
.publications ol.bibliography li .abbr { height: 2rem; margin-bottom: 0.5rem; }
.publications ol.bibliography li .abbr abbr { display: inline-block; background-color: #00369f; padding-left: 1rem; padding-right: 1rem; }
.publications ol.bibliography li span { display: block; }
.publications ol.bibliography li .title { font-weight: bolder; }
.publications ol.bibliography li .author { font-weight: 500; }
.publications ol.bibliography li .author a { border-bottom: 1px dashed #00369f; }
.publications ol.bibliography li .author a:hover { border-bottom-style: solid; text-decoration: none; }
.publications ol.bibliography li .author > em { border-bottom: 1px solid; font-style: normal; }
.publications ol.bibliography li em.star { border-bottom: none; color: #00369f; font-style: normal; }
.publications ol.bibliography li a.abstract, .publications ol.bibliography li a.bibtex { cursor: pointer; }
.publications ol.bibliography li .hidden { font-size: 0.875rem; max-height: 0px; overflow: hidden; text-align: justify; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.publications ol.bibliography li .hidden p { line-height: 1.4em; margin: 10px; font-weight: 500; }
.publications ol.bibliography li .hidden pre { font-size: 1em; line-height: 1.4em; padding: 10px; }
.publications ol.bibliography li .hidden.open { max-height: 100em; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.publications ol.bibliography li span.abstract.hidden { border: dashed 1px white; }
.publications ol.bibliography li span.abstract.hidden.open { border-color: #828282; }

.publications-front h3.year { color: #828282; border-top: 1px solid #828282; padding-top: 1rem; margin-bottom: -2rem; text-align: right; }
.publications-front ol.bibliography { list-style: none; padding: 0; margin-top: 0; }
.publications-front ol.bibliography li { margin-bottom: 1rem; }
.publications-front ol.bibliography li .abbr { height: 2rem; margin-bottom: 0.5rem; }
.publications-front ol.bibliography li .abbr abbr { display: inline-block; background-color: #00369f; padding-left: 1rem; padding-right: 1rem; }
.publications-front ol.bibliography li span { display: block; }
.publications-front ol.bibliography li .title { font-weight: bolder; font-size: 0.9rem; }
.publications-front ol.bibliography li .author { font-size: 0.9rem; }
.publications-front ol.bibliography li .author a { border-bottom: 1px dashed #00369f; }
.publications-front ol.bibliography li .author a:hover { border-bottom-style: solid; text-decoration: none; }
.publications-front ol.bibliography li .author > em { border-bottom: 1px solid; font-style: normal; }
.publications-front ol.bibliography li .periodical { font-size: 0.9rem; }
.publications-front ol.bibliography li em.star { border-bottom: none; color: #00369f; font-style: normal; }
.publications-front ol.bibliography li a.abstract, .publications-front ol.bibliography li a.bibtex { cursor: pointer; }
.publications-front ol.bibliography li .hidden { font-size: 0.875rem; max-height: 0px; overflow: hidden; text-align: justify; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.publications-front ol.bibliography li .hidden p { line-height: 1.4em; margin: 10px; }
.publications-front ol.bibliography li .hidden pre { font-size: 1em; line-height: 1.4em; padding: 10px; }
.publications-front ol.bibliography li .hidden.open { max-height: 100em; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.publications-front ol.bibliography li span.abstract.hidden { border: dashed 1px white; }
.publications-front ol.bibliography li span.abstract.hidden.open { border-color: #828282; }
