---
---
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <link href="{{ site.baseurl }}/public/css/bootstrap.min.css" rel="stylesheet">
  <style>
    p {
      font-size: 18px;
    }
  </style>
</head>
<body style="padding-top: 120px">
{% include navbar.html %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>{{ page.title }}</h2>
          {% if page.author %}
          <h4>{{ page.author }}</h4>
          {% endif %}
          <hr/>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>
<script>
  var shiftWindow = function() { scrollBy(0, -100) };
  if (location.hash) shiftWindow();
  window.addEventListener("hashchange", shiftWindow);
</script>
</body>
</html>
