---
---
<html lang='en'>

{% include head.html %}

<body style="font-size: 16px;">

{% include navbar.html %}

<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
          {% if page.tags contains 'reading' %}
          {% else %}
          <h2>{{ page.title }}</h2>
          {% endif %}
          {{ content }}
    </div>
  </div>
</div>

<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
     //var disqus_developer = 1; // Comment out when the site is live
     var disqus_config = function () {
     this.page.url = "tsong.me";  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };

    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = 'https://tsong-me.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% include footer.html %}

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
{% include analytics.html %}
</body>
</html>
